body{
    background-color: #181818;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
}

.container-kiri {
    margin-left: 10%;
    background-color: #1C1C1C;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.container-kiri .profil{
    margin-top: 15%;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.container-kiri .profil img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.container-kiri .deskripsi{
    color: #E0E0E0;
    width: 200px;
    height: 200px;
}

.container-kanan{
    margin-right: 10%;
    background-color: #383838;
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

nav ul, a{
    margin-top: 7%;
    list-style: none;
    text-decoration: none;
    color: #E0E0E0;
}

li{
    display: inline-block;
    margin-right: 30px;
    font-size: 23px;
    font-weight: 500;
}

article{
    align-self: start;
    color: #E0E0E0;
    margin: 14% 5% 0 5%;
    
}

/* RESPONSIVE */

@media only screen and (max-width: 991px) {
    .container {
      flex-direction: column;
    }

    .container-kiri{
        width: 100vw;
        height: 80vh;
        margin: 0;
    }

    .container-kiri .deskripsi{
        color: #E0E0E0;
        width: 100%;
        height: 200px;
        text-align: center;
    }
    
    .container-kanan{
        margin-right: 0;
        width: 100vw;
    }
}

@media only screen and (max-width: 380px) {
    li{font-size: 20px;}
}