
    /* REAL SYNTAX */
    /* REAL SYNTAX */
    /* REAL SYNTAX */
    /* REAL SYNTAX */
    /* REAL SYNTAX */

@font-face {
    font-family: "Bebas";
    src: url('font/BebasNeue-Regular.woff2') format('woff2');
}

body {
    background-color: #eaeaea;
    font-family: "Bebas";
}

h1{
    font-size: 75px;
    text-align: center;
    font-weight: 600;
    margin: 35px;
}

.kotak {
    width: 1000px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    border: 3px solid grey;
    border-radius: 10px;
}

.image{
    margin: 44px 0 44px 30.2px ;
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50% ;
    border: 6px solid grey;
}

    /* THUMBNAIL */
    /* THUMBNAIL */
    /* THUMBNAIL */
        

.captain {
    background-image: url(img/thumb/captain.jpg);
}

.ironman{
    background-image: url(img/thumb/ironman.jpg);
}

.spiderman{
    background-image: url(img/thumb/spider.jpg);
}

.hulk{
    background-image: url(img/thumb/hulk.jpg);
}

    /* INSIDE TEXT */
    /* INSIDE TEXT */
    /* INSIDE TEXT */

.insidecapt, .insideiron, .insidespider, .insidehulk{
    text-align: center;
    line-height: 200px;
    background-color: hwb(0 92% 7%);
    border-radius: 50%;
    opacity: 0;
    transition: 1s;
    color: black;
}

.insidehulk:hover, .insidespider:hover, .insideiron:hover, .insidecapt:hover{
    opacity: 1;
    transform: rotate(360deg);
}
.insidehulk:hover .judul {
    color:aquamarine; 
}

.tampilan{
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(95, 95, 95, 0);
    
}

.tampilan:target{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(95, 95, 95, .8);
    text-align: center;
    padding-top: 100px;
    box-shadow: 3px 3px 3px 3px black;
    transition: background-color 1s;
}

.tampilan:target img{
    box-shadow: 3px 3px 3px 3px black;
    animation: fadeini 1s;
}

.tampilan:target .close, .tampilan:target .next, .tampilan:target .back{
    animation: close 1s;
}

.close{
    font-size: 45px;
    text-decoration: none;
    position: absolute;
    right: 2%;
    top: 2%;
    border: 3px solid black;
    width: 40px;
    color: black;
    
}

@keyframes fadeini {
    0%{
        scale: 0;
        opacity: 0;
    }

    100%{
        scale: 1;
        opacity: 1;
    }
    
}

@keyframes close {
    0%{
        opacity: 0;
        margin-top: -30px;
    }

    100%{
        opacity: 1;
        margin-top: 0;
    }
    
}

.next, .back{
   background-image: url(img/next.png);
   width: 128px;
   height: 128px;
   display: block;
   position: absolute;
}

.next{
    transform: rotate(180deg);
    right: 300px;
    top: 300px;
}

.back{
    left: 300px;
    top: 300px;
}



