*{
    box-sizing: border-box;
}

body{
    background-color: #0F0F0F;
    padding: 0;
    margin: 0;
    font: 16px arial;
}

nav{
    display: flex;
}

/* BURGER */

.burger{
    display: flex;
    flex-direction: column;
    margin: 20px 50px 0px 20px;
    max-width: 25px;
    order: 1;
}

.burger span{
    max-width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    margin-top: 4px;
}

.shadow{
    visibility: hidden;
    background-color:rgba(39, 39, 39, .5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-7.3px, -18px);
}

.burger:hover .shadow{
    visibility: visible;
}


/* SEARCHBAR */

.searchbar{
   display: flex;
   margin: 10px auto;
   width:30%;
   order: 2;
}

.searchbar input{
    background-color: #121212;
    border: 3px solid grey;
    border-radius: 50px 0px 0px 50px;
    padding-left: 20px;
    width: 100%;
    max-width: 500px;
}


.searchside{
    background-color: antiquewhite;
    border-radius: 0px 50px 50px 0px;
    max-width: 60px;
    width: 100%;
    
}

.icon{
    padding: 15px 20px;
    
}

/* ICON RIGHT */

.anjay{
    order: 3;
    display: flex;
    color: white;
    gap: 30px;
    margin: 25px 15px 0 15px;
}

/* UNDERNAV */

.undernav ul{
    display: flex;
    list-style: none;
    gap: 24px;
    color: white;
    flex-wrap: wrap;
}

.undernav li{
    background-color: #272727;
    border-radius: 5px;
    padding: 5px;
}

/* VIDEO */

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    margin: 10px 10px 10px 40px;
    gap: 20px;
}

.video{
    width: 100%;
    max-width: 250px;
    height: 160px;
    background-color: white;
    border-radius: 20px;
}

.text{
    width: 100%;
    max-width: 240px;
    height: 160px;
    color: #ddd;
    margin: 10px 2px 10px 10px;
}